@import "tailwindcss";

@layer theme, base, components, utilities, rays;

@import "./theme.css" layer(theme);
@import "./base.css" layer(base);
@import "./components.css" layer(components);
@import "./fonts.css" layer(components);
@import "./work.css" layer(components);
