---
import About from "@/_components/About.astro";
import FeatureProjects from "@/_components/FeatureProjects.astro";
import Footer from "@/_components/Footer.astro";
import Header from "@/_components/Header.astro";
import Hero from "@/_components/Hero.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="w-full mx-auto max-w-5xl">
    <!-- Header / Navigation -->
    <Header />

    <!-- Hero Section -->
    <Hero />

    <!-- What I do? Section -->
    <About />

    <!-- Feature Projects -->
    <FeatureProjects />
  </div>

  <!-- Footer -->
  <Footer />
</MainLayout>
