---
import "@/styles/global.css";

// Components

const {
  title = "Shariar Sultan Fahim - Frontend Engineer",
  description = "Shariar Sultan Fahim is a frontend engineer specializing in web and mobile applications.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Macondo&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <!-- Smooth Scroll Wrapper -->
    <div id="smooth-scroll-content" class="min-h-screen dotted-bg">
      <slot />
    </div>
  </body>
</html>

<script>
  // GSAP Plugins
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // ScrollSmoother requires ScrollTrigger
  import { ScrollSmoother } from "gsap/ScrollSmoother";

  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

  document.addEventListener("DOMContentLoaded", () => {
    // creates the scrollSmoother
    ScrollSmoother.create({
      content: "#smooth-scroll-content",
      smooth: 3,
      effects: true,
      normalizeScroll: true,
    });
  });
</script>
