---
import ProjectCard from "./cards/ProjectCard.astro";

const projects = [
  {
    title: "ShareBite",
    description:
      "ShareBite is a web-based platform allows individuals to easily donate food, cloth, medicine, or money and track their donation history.",
    link: "https://share-bite-donor-app-hackathon.vercel.app/",
    imageSrc: "/sharebite.png",
  },
  {
    title: "MCQ Webapp",
    description:
      "This project aims to develop a simple, web-based MCQ exam platform designed specifically for private tutors in Bangladesh",
    link: "https://github.com/shariarSultanFahim/MCQ-Webapp",
    imageSrc: "/mcq-app.png",
  },
  {
    title: "Wifu Engine",
    description:
      "A lightweight, extensible engine for creating 2D anime-style transparent overlay built with Electron.",
    link: "https://github.com/shariarSultanFahim/wifu-engine",
    imageSrc: "/wifu-engine.png",
  },
  {
    title: "Hazari Tally",
    description:
      "A digital scorekeeping application for the card game Hazari. Built with React Native and Expo.",
    link: "https://github.com/shariarSultanFahim/Hazari-Tally-App",
    imageSrc: "/Hazari-Tally.jpg",
  },
];
---

<section
  id="projects"
  class="flex flex-col md:flex-row items-start gap-6 mb-16"
>
  <div class="md:w-1/4 flex flex-col items-center gap-2">
    <h1 class="text-xl md:text-2xl">Featured Projects</h1>
    <img
      class="w-20 h-12 rotate-[-120deg]"
      src="/arrow.svg"
      alt="Arrow Image"
    />
  </div>

  <div class="md:w-3/4 grid md:grid-cols-2 gap-4">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          imageSrc={project.imageSrc}
          liveUrl={project.link}
          ctaText="View Project"
        />
      ))
    }
  </div>
</section>
