---
import Button from "@/_components/Button.astro";
---

<header class="pt-[20px] hidden md:block">
  <nav
    class="container mx-auto flex justify-center mb-8 md:mb-0 md:justify-end items-center"
  >
    <Button
      href="https://drive.google.com/file/d/1W3NSpBlUO5YuDJjF66wOuzbxIwetUms4/view"
      label="Resume"
      type="primary"
    />
  </nav>
</header>
