<section class="pb-16 md:pb-24">
  <div class="flex items-start gap-3 rotate-[-10deg] max-w-12">
    <img
      class="h-12 w-12"
      src="/fam.png"
      alt="Avatar"
      class="header-profile-pic"
    />
    <img src="/arrow.svg" class="h-12 w-12" alt="arrow pointing to the icon" />
    <!-- <span class="font-heading font-bold text-xl text-black">fahim</span> -->
    <span>fahim</span>
  </div>
  <div class="text-center md:text-left md:w-3/4">
    <h1
      class="text-[3rem] md:text-[4rem] lg:text-[5rem]"
      style="
            font-weight: 400;
            font-family: 'Macondo', cursive;
            line-height: 105%;
            "
    >
      I develop top notch apps & websites.
    </h1>
  </div>
</section>
