<!-- Work Experience Section -->
<section id="experience" class="section-padding container mx-auto my-10 px-4">
  <div class="flex flex-col justify-between items-start gap-5 pb-5">
    <h2
      class="font-heading text-xl md:text-2xl text-black text-center md:text-left"
    >
      work experience
    </h2>
    <img
      src="/arrow.svg"
      class="h-10 w-16 rotate-[-70deg]"
      alt="arrow pointing to the icon"
    />
  </div>
  <div class="work-experience-grid">
    <!-- Left Panel -->
    <div class="work-left-panel">
      <h3 class="font-heading text-xl font-bold mb-3">Professional Journey</h3>
      <p class="text-base text-gray-700 leading-relaxed">
        I've been honing my craft in Frontend Engineering since 2022,
        contributing to various impactful projects across different industries.
      </p>
    </div>
    <!-- Right Panel (Experience Entries) -->
    <div class="work-right-panel">
      <!-- Entry 1 -->
      <div class="work-entry-card">
        <span class="work-entry-number text-yellow-100">1</span>
        <div>
          <h4 class="font-heading text-xl font-bold mb-1">
            Frontend Engineer at Defined Solution
          </h4>
          <p class="text-sm text-gray-600 mb-1">2025 - Present</p>
          <p class="text-base text-gray-700">
            Development of critical user-facing features using Next.js and
            TypeScript.
          </p>
        </div>
      </div>
      <!-- Entry 2 -->
      <div class="work-entry-card">
        <span class="work-entry-number text-blue-100">2</span>
        <div>
          <h4 class="font-heading text-xl font-bold mb-1">
            Frontend Intern at Defined Solution
          </h4>
          <p class="text-sm text-gray-600 mb-1">2024 - 2024</p>
          <p class="text-base text-gray-700">
            Built responsive UIs and integrated RESTful APIs with Next.js
          </p>
        </div>
      </div>
      <!-- Entry 3 -->
      <div class="work-entry-card">
        <span class="work-entry-number text-pink-100">3</span>
        <div>
          <h4 class="font-heading text-xl font-bold mb-1">
            Various Freelance Projects
          </h4>
          <p class="text-sm text-gray-600 mb-1">2023 - 2024</p>
          <p class="text-base text-gray-700">
            Developing full stack applications using React, Node.js and Express.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
